// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify;
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0;
    a:before {
      display: inline-block;
      line-height: 1.2;
      margin: 5px;
      font-family: "FontAwesome";
      content: "\f02b";
    }
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: right;
  a:before {
    display: inline-block;
    line-height: 1.2;
    margin: 5px;
    font-family: "FontAwesome";
    content: "\f02b";
  }
}
